<div class="container">
    <h1>Sobre Nosotros</h1>
    <hr>
    <h2>Misión de la carrera</h2>
    <p>
        Formar profesionales emprendedores con capacidades científico-técnicas y humanísticas, que gestionen
        eficientemente
        la información, desarrollando soluciones tecnológicas con principios de ingeniería y estándares de calidad,
        comprometidos con el desarrollo socioeconómico de la población en su área de influencia.
    </p>
    <h2>Visión de la carrera</h2>
    <p>
        Ser líder regional y nacional en la formación de profesionales de Tecnologías de la Información, y reconocida
        por su
        excelencia académica e investigación
    </p>
</div>