<div class="bg-primary text-white">
    <footer class="py-3 my-10">
        <ul class="nav justify-content-center pb-3 mb-3">
            <li class="nav-item">
                <a class="nav-link px-2 text-white" [routerLink]="['home']">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-white" [routerLink]="['about']">Nuestra Carrera</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-white" [routerLink]="['facultad']">Nuestra Facultad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-white" [routerLink]="['utmach']">Nuestra Universidad</a>
            </li>
        </ul>
        <hr class="text-white">
        <p class="text-center text-white">© 2024 UTMACH</p>
    </footer>
</div>