<div class="container">
    <br>
    <h1>Nuestra Facultad</h1>
    <hr>
    <div class="row">
        <div class="text-center">
            <img src="assets/Logo FIC.png" height="200" style="margin: 10px;">
            <h2 class="bg-danger text-white">Facultad de Ingeniería Civil</h2>
        </div>
        <div class="col-6">
            <h3 class="bg-danger text-white text-center">Misión</h3>
            <p>
                Alcanzar un alto nivel de eficiencia técnico profesional que permita a la Facultad contribuir
                activamente en el desarrollo socio-económico provincial, regional y nacional con profesionales altamente
                calificados.
            </p>
        </div>
        <div class="col-6">
            <h3 class="bg-danger text-white text-center">Visión</h3>
            <p>
                La Facultad de Ingeniería Civil en cumplimiento de sus funciones de Docencia, Investigación, Proyección
                Social, y; apoyo de la gestión administrativa está en una búsqueda permanente de la excelencia
                académica, con la participación planificada, coordinada y coherente de sus actores, a través de procesos
                educativos eficientes, eficaces y de efectividad en la formación de profesionales; en concordancia al
                desarrollo científico-tecnológico y a las necesidades del desarrollo Provincial, Regional y Nacional en
                el campo de las Ciencias Físicas y Matemáticas.
            </p>
        </div>
    </div>
</div>