<div class="container">
    <br>
    <div class="text-center">
        <h1>Ingeniería en Tecnologías de la Información</h1>
        <img src="assets/TI logo.png" height="200" style="margin: 10px;">
    </div>
    <hr>
    <h2 class="bg-danger text-white">Descripción</h2>
    <p>
        La carrera de Tecnologías de la Información forma profesionales capacitados para la gestión de la
        infraestructura tecnológica y sistemas de información, siendo este aspecto un eje transversal en todos los
        sectores del país y áreas de interés público. Todas las organizaciones sean estas públicas o privadas, con o sin
        fines de lucro, grandes o pequeñas, requieren de profesionales con formación tecnológica para el tratamiento de
        su información y gestión de su procesos.
    </p>
    <hr>
    <h2 class="bg-danger text-white">Objeto de Estudio</h2>
    <p>La carrera de Tecnologías de la Información estudia la gestión de las tecnologías de la información en una
        organización (institución o empresa), aplicando: estándares, modelos, metodologías, normas, técnicas y
        políticas; y, coordinando procesos de: planificación, adquisición, implementación, integración y operación del
        hardware, dispositivos de comunicación y el software, para el aseguramiento de la información. Con enfoque
        transversal e interdisciplinar en distintos campos de formación teórico – prácticos (programación, bases de
        datos, redes de datos, matemáticas, sistemas Web, interacción hombre máquina, eléctrica y electrónica,
        infraestructura de tecnologías, seguridad y aseguramiento de la Información).</p>
</div>